body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2700eb;
  background-image: linear-gradient(160deg, #2d35a9 0%, #7288bb 100%);
}

.container {
  text-align: center;
}

.link-button {
  background-color:#ff0000;
  background-image: linear-gradient(160deg, #9238f2 0%, #0000ff 100%);
  color: white;
  border: none;
  padding: 15px 30px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
