body{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #2700eb;
  background-image: linear-gradient(160deg, #2d35a9 0%, #7288bb 100%);
}

#game-board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 40px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-info {
  margin-top: 20px;
  text-align: center;
}

#reset-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#turn {
  padding: 8px 16px;
  font-size: 40px;
  background-color: #fff
  color: white;
  border: none;
  border-radius: 5px;
}

#mybutton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #fff
  color: white;
  border: none;
  border-radius: 5px;
}

.link-button {
  background-color:#ff0000;
  background-image: linear-gradient(160deg, #ff0000 0%, #ff0000 100%);
  color: white;
  border: none;
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

